# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Build Outputs & Releases
build/
dist/
releases/
bin/
obj/
src/bin/
src/obj/
tests/**/bin/
tests/**/obj/
*.spec

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
desktop.ini

# App generated
config.json
*.log
